@mixin display($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

;

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin border($border: 0px, $radius: 0px) {
    border: $border;
    border-radius: $radius;
}