@import '../../../styles/index.scss';

.header {
    background-color: $to-do;
    @include size(100%, auto);
    @include display(row, space-between, center);
    position: fixed;
    bottom: 0;
    padding: 4%;

    svg {
        color: white;
        @include size(30px, 30px);
    }

    .svgActive {
        color: $notification;
    }

    @include desktop {
        @include size(auto, 100vh);
        @include display(column, space-between, center);
        padding: 2%;
        bottom: inherit;
        left: 0;

        svg {
            @include size(50px, 50px);
            cursor: pointer;
            :hover {
                color: $notification;
            }
        }
    }
}